<%= form_for @service, :html => { class: 'form-horizontal' } do |f| %>
  <% if @service.errors.any? %>
    <div class="alert alert-error">
    <a class="close" data-dismiss="alert">&times;</a>
      <h4 class="alert-heading">
        <%= pluralize(@service.errors.count, "error") %> prohibited this ad from being saved:
      </h4>
      <ul>
      <% @service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
  </div>
  <% end %>
  <fieldset>
    <legend>Novo Serviço</legend>
    <div class="control-group">
      <%= f.label :title, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :title, class: 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :content, class: 'control-label' %>
      <div class="controls">
        <%= f.text_area :content, class: 'text_area span8', rows: 3 %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <%= f.file_field :image, class: 'text_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, class: 'btn' %>
      <%= link_to 'Cancel', services_path, class: 'btn' %>
    </div>
  </fieldset>
<% end %>
