<% title "Services" %>
<h2>Services</h2>
<hr />
<section id="services" class="row">
<% @services.each do |service| %>
	<% if @admin %>
		<%= content_tag "article", :data => {:object => service}, :class => "service span3" do %>
			<%= image_tag service.image.url(:normal) %>
			<h2><%= if @admin then link_to service.title, service else service.title end %></h2>
			<p><%= service.content %></p>
			<%= link_to 'x', service_path(service), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger btn-mini' if @admin %>
		<% end %>
	<% else %>
		<article class="service span3">
			<%= image_tag service.image.url(:normal) %>
			<h2><%= if @admin then link_to service.title, service else service.title end %></h2>
			<p><%= service.content %></p>
			<%= link_to 'x', service_path(service), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger btn-mini' if @admin %>
		</article>
	<% end %>
<% end %>
</section>
<% if @admin %>
<div class="form-actions">
  <%= link_to 'Novo Serviço', new_service_path, :class => "btn btn-green" %>
</div>
<% end %>