<% title "Contact me" %>
<h2>Contact me</h2>
<hr />
<%= render "flashes" %>
<section class="row">
<div id="contact_form" class="span8">
	<%= form_for @message do |f| %>
		<%= f.text_field :name, :class => "span4", :placeholder => "Name" %>
		<%= f.text_field :email, :class => "span4", :placeholder => "Email" %>
		<%= f.text_area :body, :class => "span8", :rows => "4", :placeholder => "Message" %>
		<%= f.submit "Send it!", :class => "btn btn-green" %>
	<% end %>
</div>
<aside class="span4">
	<h3>Contact Info</h3>
	<address>
		<span>Phone:</span> +55-51-3333-3333<br />
		<span>Skype:</span> <a href="skype:gustavo.guichard" rel="tooltip" title="Add as a contact">gustavo.guichard</a><br />
		<span>Email:</span> <a href="mailto:talk@gustavoguichard.com" rel="tooltip" title="Send with your email client">talk[at]gustavoguichard.com</a>
	</address>
</aside>
</section>