<% shadows = ["shadow1", "shadow2", "shadow3", "shadow3b", "shadow4", "shadow4b"]
port_length = 0 %>
<h2>Portfolio</h2>
<hr />
<section id="portfolio">
	<ul class="nav nav-pills">
	  <li class="active"><a href="#" rel="all">All</a></li>
	  <li><a href="#" rel="web_design">Web Design</a></li>
	  <li><a href="#" rel="development">Development</a></li>
	  <li><a href="#" rel="front_end">Front End</a></li>
	  <li><a href="#" rel="wordpress">Wordpress</a></li>
	  <li><a href="#" rel="planning">Planning</a></li>
	</ul>
	<div class="row">
		<article data-id="id-<%= port_length += 1 %>" data-type="web_design development wordpress planning" class="portfolio_item span3 <%= shadows.sample %>">
			<% port_img = image_tag "portfolio/pinaculo.jpg", :size => "220x160" %>
			<%= link_to port_img, "#" %>
			<h5>Pináculo</h5>
			<small>Web Design, Development, Wordpress, Planning</small>
		</article>
		<article data-id="id-<%= port_length += 1 %>" data-type="web_design development wordpress planning" class="portfolio_item span3 <%= shadows.sample %>">
			<% port_img = image_tag "portfolio/gisele.jpg", :size => "220x160" %>
			<%= link_to port_img, "#" %>
			<h5>Gisele de Menezes</h5>
			<small>Web Design, Development, Wordpress, Planning</small>
		</article>
		<article data-id="id-<%= port_length += 1 %>" data-type="web_design development wordpress planning" class="portfolio_item span3 <%= shadows.sample %>">
			<% port_img = image_tag "portfolio/planilife.jpg", :size => "220x160" %>
			<%= link_to port_img, "#" %>
			<h5>Planilife</h5>
			<small>Web Design, Development, Wordpress, Planning</small>
		</article>
		<article data-id="id-<%= port_length += 1 %>" data-type="web_design front_end planning" class="portfolio_item span3 <%= shadows.sample %>">
			<% port_img = image_tag "portfolio/gravadores.jpg", :size => "220x160" %>
			<%= link_to port_img, "#" %>
			<h5>Gravadores Pináculo</h5>
			<small>Web Design, Front End, Planning</small>
		</article>
		<article data-id="id-<%= port_length += 1 %>" data-type="development wordpress planning" class="portfolio_item span3 <%= shadows.sample %>">
			<% port_img = image_tag "portfolio/cambara.jpg", :size => "220x160" %>
			<%= link_to port_img, "#" %>
			<h5>Prefeitura de Cambará do Sul</h5>
			<small>Planning, Development, Wordpress</small>
		</article>
		<article data-id="id-<%= port_length += 1 %>" data-type="development wordpress planning" class="portfolio_item span3 <%= shadows.sample %>">
			<% port_img = image_tag "portfolio/hr.jpg", :size => "220x160" %>
			<%= link_to port_img, "#" %>
			<h5>HR Advocacia</h5>
			<small>Planning, Development, Wordpress</small>
		</article>
		<article data-id="id-<%= port_length += 1 %>" data-type="development front_end planning" class="portfolio_item span3 <%= shadows.sample %>">
			<% port_img = image_tag "portfolio/cria.jpg", :size => "220x160" %>
			<%= link_to port_img, "#" %>
			<h5>Cria Ideias</h5>
			<small>Planning, Development, Front End</small>
		</article>
		<article data-id="id-<%= port_length += 1 %>" data-type="development wordpress planning" class="portfolio_item span3 <%= shadows.sample %>">
			<% port_img = image_tag "portfolio/via.jpg", :size => "220x160" %>
			<%= link_to port_img, "#" %>
			<h5>Viamercosul SA</h5>
			<small>Planning, Development, Wordpress</small>
		</article>
		<article data-id="id-<%= port_length += 1 %>" data-type="development wordpress" class="portfolio_item span3 <%= shadows.sample %>">
			<% port_img = image_tag "portfolio/dublin.jpg", :size => "220x160" %>
			<%= link_to port_img, "#" %>
			<h5>Dublin Seguros</h5>
			<small>Development, Wordpress</small>
		</article>
		<article data-id="id-<%= port_length += 1 %>" data-type="development front_end" class="portfolio_item span3 <%= shadows.sample %>">
			<% port_img = image_tag "portfolio/vitajuice.jpg", :size => "220x160" %>
			<%= link_to port_img, "#" %>
			<h5>Vitajuice</h5>
			<small>Front End, Development</small>
		</article>
		<article data-id="id-<%= port_length += 1 %>" data-type="development wordpress" class="portfolio_item span3 <%= shadows.sample %>">
			<% port_img = image_tag "portfolio/traduzca.jpg", :size => "220x160" %>
			<%= link_to port_img, "#" %>
			<h5>Traduzca</h5>
			<small>Development, Wordpress</small>
		</article>
		<article data-id="id-<%= port_length += 1 %>" data-type="development wordpress" class="portfolio_item span3 <%= shadows.sample %>">
			<% port_img = image_tag "portfolio/alltrade.jpg", :size => "220x160" %>
			<%= link_to port_img, "#" %>
			<h5>All Trade Systems</h5>
			<small>Development, Wordpress</small>
		</article>
	</div>
</section>