<h2>Services</h2>
<hr />
<section id="services" class="row">
	<article class="service span3">
		<%= image_tag "services/development.gif" %>
		<h2>Development</h2>
		<p>HTML5, CSS3, Javascript, PHP, Ruby on Rails or Action Script 3.</p>
	</article>
	<article class="service span3">
		<%= image_tag "services/dynamics.gif" %>
		<h2>Dynamics</h2>
		<p>With some Javascript / Action Script and Ajax your website can rock and became really impressive.</p>
	</article>
	<article class="service span3">
		<%= image_tag "services/wordpress.gif" %>
		<h2>Wordpress</h2>
		<p>Wordpress themes, plugins and functions. With some experienced customization it can turn into the best CMS for your business.</p>
	</article>
	<article class="service span3">
		<%= image_tag "services/mobile.gif" %>
		<h2>Mobile Sites</h2>
		<p>To offer a mobile/touch friendly version for your website is a good idea nowadays. I can help you with that.</p>
	</article>
	<article class="service span3">
		<%= image_tag "services/design.gif" %>
		<h2>Design</h2>
		<p>Refined layouts, inspired and “straight to the point”. UI Design, Layout improvements. Focus on usability.</p>
	</article>
	<article class="service span3">
		<%= image_tag "services/seo.gif" %>
		<h2>SEO</h2>
		<p>Structured and semantic HTML markup, optimization for Google and others. I have some great results in my portfolio!</p>
	</article>
	<article class="service span3">
		<%= image_tag "services/planning.gif" %>
		<h2>Planning</h2>
		<p>Information Architecture, Sitemaps, Mockups, Ideas... planning is very important.</p>
	</article>
	<article class="service span3">
		<%= image_tag "services/consulting.gif" %>
		<h2>Consulting</h2>
		<p>Need some help on your project? Want to improve your website or learn something? How about a screencast?</p>
	</article>
</section>