<%= form_for(@site_setting) do |f| %>
  <% if @site_setting.errors.any? %>
   <div class="alert alert-error">
    <a class="close" data-dismiss="alert">&times;</a>
      <h4 class="alert-heading">><%= pluralize(@site_setting.errors.count, "error") %> prohibited this site_setting from being saved:</h4>

      <ul>
      <% @site_setting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <legend>Configurações</legend>
    <div class="control-group">
      <%= f.label "Nome do site", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label "Senha", :class => 'control-label' %>
      <div class="controls">
        <%= f.password_field :password, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label "Disponível para Freela", :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :available, :class => 'text_field', :rows => 4 %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :intro_text, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :intro_text, :class => 'text_field span8', :rows => 4 %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :footer_intro, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :footer_intro, :class => 'text_field span8', :rows => 4 %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :footer_contact, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :footer_contact, :class => 'text_field span8', :rows => 4 %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :contact_info, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :contact_info, :class => 'text_field span8', :rows => 4 %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :contact_text, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :contact_text, :class => 'text_field span8', :rows => 4 %>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
