<h1>Testimonials</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Company</th>
      <th>Content</th>
      <th>Image</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @testimonials.each do |testimonial| %>
      <tr>
        <td><%= testimonial.name %></td>
        <td><%= if testimonial.website then link_to testimonial.company, testimonial.website, :target => "_blank" else testimonial.company end %><%= ' - ' + testimonial.job if testimonial.job.present? %></td>
        <td><%= raw testimonial.content %></td>
        <td><% avatar_image = image_tag testimonial.avatar.url(:thumbnail) %>
          <%= link_to avatar_image, testimonial %>
        </td>
        <td>
          <%= link_to 'Show', testimonial, :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', testimonial_path(testimonial), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Novo Depoimento', new_testimonial_path, :class => 'btn btn-green' %>
