<h1><%= link_to 'Testimonial', testimonials_path %> from: <%= best_in_place @testimonial, :name %></h1>
<p>
  <b>Company</b><br>
  <%= best_in_place @testimonial, :company %>
</p>

<p>
  <b>Job</b><br>
  <%= best_in_place @testimonial, :job %>
</p>

<p>
  <b>Website</b><br>
  <%= best_in_place @testimonial, :website %>
</p>

<p>
  <b>Content</b>
</p>
<%= best_in_place @testimonial, :content, type: :textarea, sanitize: false %>
<p>
  <%= image_tag @testimonial.avatar.url(:thumbnail) %>
</p>

<%= form_for @testimonial do |f| %>
  <%= f.file_field :avatar, class: 'text_field' %>
<div class="form-actions">
  <%= f.submit nil, class: 'btn' %>
  <%= link_to 'Delete', testimonial_path(@testimonial), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
<% end %>
